@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    display: flex;
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
}

.sidebar{
    width: 250px;
    height:100vh;
    background-color: black;
}

.homeScreen{   
    width: 100%;
    position: relative;
    left: 0;
    top: 7%;
    box-sizing: border-box;
}

.container_home{
    background-color: var(--pure-white);
    /* flex-grow: 1; */
    width: 100vh;
    /* padding: 40px; */
}

.diagrams{
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas de largura igual */
    gap: 2px; /* Espaçamento entre os elementos (opcional) */
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--deep-blue);
    padding: 40px 0 0 40px;
}
