.container {
    display: flex;
    width:100%;
    
    position: fixed;
    left: 0px;
    top: 0;
    
    box-sizing: border-box;
    padding-left: 250px;
}

.topBar{
    display: flex;
    width:100%;
    padding: 16px;
    
    background-color: var(--pure-white);
    border-bottom: 1px solid #C8CBD9;
}

.searchBar{
    width: 60%;
}

.userInfo{
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.input_container{
    display: flex;
    justify-content: space-between;
    background-color: var(--search-bar);
    border-radius: 4px;
    padding-right: 10px;
}

.input{
    width: 90%;
    height: 32px;
    color: var(--text);

    display: flex;
    justify-content: center;
    padding-left: 10px;
    background-color: transparent;

    border: none;
    font-size: .75rem;
}
.input:click{
    border: none;
}

.user{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
    color: var(--text);
    font-size: 12px;
}

.user img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100%;
}

.deposit{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: var(--off-white);
    border: 1px solid var(--lightPurple);
    border-radius: 10px;
    padding: 5px 10px;

    color: var(--lightPurple);
    font-size: 12px;
    padding: 0;
}

.deposit:hover{
    border:none;
}

.iconClick{
    background-color: transparent;
    border:none;
    padding: 0;
}

.notifications{
    height: 25px;
}